{% assign document = post | default: page %}
{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<!-- META -->
<div class="post-date">
{% if document.last_modified_at %}
  <strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ document.last_modified_at | date: "%Y-%m-%d" }}">{{ document.last_modified_at | date: date_format }}</time></div>
{% elsif document.date %}
  <strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ document.date | date_to_xmlschema }}">{{ document.date | date: date_format }}</time>
{% endif %}

      {% if document.read_time %}
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}

        <i class="far {% if document.read_time %}fa-fw {% endif %}fa-clock" aria-hidden="true"></i>
        {% if words < words_per_minute %}
          {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% elsif words == words_per_minute %}
          1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% else %}
          {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% endif %}
    {% endif %}
</div>