---
layout: default
---
        <article class="hentry">
            <div class="featured-image">
                {% if page.header.overlay_image == "" or page.header.overlay_image == nil %}
                    <img src="{{ '/images/default-header.png' | relative_url }}" style="width:100%">
                {% else %}
                    <img src="{{ page.header.overlay_image | relative_url }}" style="width:100%">
                {% endif %}
            </div>
            {% include breadcrumbs.html %}
            {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
            {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
            {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
            {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
            
            <!-- MAIN -->
            <h1 class="entry-title">
                {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
            </h1>
            {% if page.subtitle %}
            <h3 class="entry-subtitle">
                {{ page.subtitle }}
            </h3>
            {% endif %}
            
            {% include page_meta.html %}
            
            <hr>
                
            <!-- POST CONTENT -->
            <div class="entry-content">
                {{ page.content }}
            </div>  

            <!--- DIVIDING LINE -->
            <hr>
    
            <!-- POST TAGS -->
            <div class="inline-tags">
                <span>
                    {% for tag in page.tags %}
                        <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                    {% endfor %}
                </span>
            </div>
          
            <br>           
        </article>

